$font-stack: 'Roboto Mono', monospace;

$dark-color: #04364A;
$light-color: #DAFFFB;
$third-color: #64CCC5;

$border: 1px solid red;

@mixin btn {
    background-color: $dark-color;
    color: $light-color;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px $third-color;
    transition: transform 0.5s;
    
    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

@mixin flex {
    display: flex;
    align-items: center;
}